/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@/assets/fonts/roboto_slab_ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@/assets/fonts/roboto_slab.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

[v-cloak] {
  display: none;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.almost-like-a-link {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.floatThead-table {
  th {
    background-color: #ffffff;
    color: #000000;
    z-index: 77777;
  }
}

.tippy-popper {
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

.content ul.multiselect__content {
  margin: 0;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: $primary;

  &::after {
    background: $primary;
  }
}

.tag.is-primary {
  background-color: #ffffff !important;
  color: #000000;
  border: 1px solid #d3d3d3;
  height: auto;
  padding: 3px 5px;

  a,
  span {
    color: #000000;
    font-size: 0.9rem;
  }

  .tag-value {
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    padding: 0 4px;
    margin-left: 6px;
    border-radius: 2px;
  }

  .tag-title {
    max-width: 150px;
    overflow: hidden;
    display: block;
  }
}

.b-tooltip {
  cursor: pointer;
}

.button-social {
  &:hover {
    color: #ffffff !important;
  }

  &.googleplus__design__flat,
  &.pinterest__design__flat,
  &.tumblr__design__flat {
    display: none !important;
  }
}

.button {
  font-size: $size-normal !important;

  &:hover {
    text-decoration: none;
  }
}

.notification-content {
  font-size: 1rem;
  padding: 10px 10px 25px 10px;
  cursor: pointer;
  
  &::before {
    content: 'Dismiss';
    display: block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 0.9rem;
    background-color: #000000;
    padding: 2px 4px;
    border-radius: 4px;
  }
}
