@import "~bulma/sass/utilities/_all";

// App colors
$topicsColor: #236e82;
$threadsColor: #268067;

// Bulma colors
$primary: $topicsColor;

// Navbar
$navbar-breakpoint: 0;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Fonts
$family-primary: 'Roboto Slab', serif;

// Main breakpoints
$breakpointXs: 0;
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;

// Import Bulma styles
@import "~bulma";
