.topic-view {
  &-topic-header {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #236e82;

    &-icon {
      background-color: #236e82;
      color: #ffffff;
      text-align: center;
      margin-right: 15px;
      font-weight: bold;
      padding: 5px 10px;
    }

    &-title {
      padding-top: 5px;
    }
  }
}
