.home-view {
  &-background-base {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }

  &-who-we-are-banner {
    background-image: url('~@/assets/images/triangles2.svg');

    h4, h5 {
      padding: 20px;
      color: #000000;
      background: #ffffff;
      border-radius: 10px;
      vertical-align: top;

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 2rem;
      }
    }
  }

  &-trending {
    background-image: url('~@/assets/images/triangles3.svg');

    .column > div {
      padding: 20px;
      color: #000000;
      background: #ffffff;
      border-radius: 10px;
      vertical-align: top;
    }
  }

  &-privacy {
    > div {
      position: relative;
      height: 250px;
      margin: 0 auto;
      padding-top: 20px;
    }

    img {
      animation: home_privacy_rotate 3s;
      animation-iteration-count: infinite;

      @keyframes home_privacy_rotate {
        0%   { transform: rotate(0deg); }
        40%   { transform: rotate(-40deg); }
        60%   { transform: rotate(40deg); }
        100%   { transform: rotate(0deg); }
      }
    }
  }

  &-track {
    > div {
      position: relative;
      height: 250px;
      width: 150px;
      margin: 0 auto;
    }
    
    img {
      position: absolute;
      animation: home_track_rotate 3s;
      animation-iteration-count: infinite;
      bottom: 10px;
      left: 0;
      right: 0;
      animation-timing-function: step-end; 

      @keyframes home_track_rotate {
        0%   { bottom: 20px; left: -20px;}
        40%   { bottom: 30px; left: 20px; }
        60%   { bottom: 40px; left: -20px; }
        100%   { bottom: 10px; left: 0px; }
      }
    }
  }

  &-noreg {
    margin-bottom: -60px;
  }

  &-privacy,
  &-track {
    padding: 1rem 0;

    img {
      max-width: 200px;
      max-height: 200px;
    }
  }

  .button {
    border: none;
    background: #5D55A0;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    height: auto;
  }

  .button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 6px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }
}
