html.pages-layout, html.pages-layout body {
  margin: 0;
  overflow-x: hidden;
}

html.pages-layout {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    transition: all 0.5s;
    max-height: 50px;
    box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.39);
    z-index: 2;

    .header-container {
      display: flex;
      padding: 10px;

      > * {
        flex: 1;
      }

      .header-logo {
        text-align: center;
        flex: 100%;

        img {
          max-width: 250px;
          max-height: 30px;
          transition: all 0.5s;
        }
      }
    }
  }

  #content {
    margin-top: 60px;
    padding-bottom: 60px;
  }

  #footer {
    background-image: url('~@/assets/images/triangles.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    overflow: hidden;
    min-height: 300px;
    position: relative;

    .footer {
      background-color: transparent;

      .footer-columns {
        .footer-column {
          display: flex;

          > * {
            color: #000000;
            background: #ffffff;
            margin: 0 auto;
            border-radius: 10px;
            display: inline-block;
          }
        }
      }

      .footer-bkc-logo {
        width: 200px;
      }

      &-about-list {
        li {
          list-style-type: none;
          padding-left: 0;

          a {
            vertical-align: middle;
          }

          img {
            max-height: 20px;
          }
        }
      }
    }
  }
}
