.talk-view-side-menu {
  user-select: none;

  &-header {
    background: rgba(35, 110, 130, 1);
    padding: 10px 5%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
  }

  &-content {
    padding: 5%;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 4px 2px -2px gray;

    &-item {
      width: calc(50% - 20px);
      text-align: center;
      background-color: rgba(35, 110, 130, 1);
      color: #ffffff;
      margin: 10px;
      padding: 0.5rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      transition: all 0.5s;
      box-shadow: none;
      text-transform: uppercase;
      white-space: nowrap;

      a, a:hover {
        color: #ffffff;
        text-decoration: none;
      }

      &:hover {
        background-color: #000000;
      }
    }
  }
}

.switmenu-menu {
  top: 50px;
}
