.switmenu-menu {
  position: fixed;
  height: 100%;
  width: 25%;
  top: 0;
  z-index: 7777;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  background-color: #ffffff;

  &.switmenu-menu-from-right {
    right: 0;
    transform: translateX(100%);
    box-shadow: inset 40px 0px 85px -50px rgba(0,0,0,0.2);
  }

  &.switmenu-menu-from-left {
    left: 0;
    transform: translateX(-100%);
    box-shadow: inset -40px 0px 85px -50px rgba(0,0,0,0.2);
  }

  @media all and (max-width: 1400px) {
    width: 35%;
  }

  @media all and (max-width: 900px) {
    width: 45%;
  }

  @media all and (max-width: 700px) {
    width: 100%;
  }

  &.switmenu-menu-active {
    transform: translateX(0%);
  }
}
