.thread-view {
  height: calc(100vh - 70px);

  &-messages {
    margin-bottom: auto;
    height: calc(100vh - 70px - 250px);
    overflow-y: auto;

    &-container {
      height: 100%;
    }

    &-item {
      background: #fafafa;

      &:first-child {
        margin-top: auto !important;
      }

      &-body {
        white-space: pre-wrap;
        user-select: text;
      }
    }
  }

  &-message-input {
    margin-top: auto;
    

    textarea {
      width: 100%;
      resize: none;
      height: 250px;
    }
  }
}
