.thread-view {
  height: calc(100vh - 70px);

  &-messages {
    margin-bottom: auto;
    height: calc(100vh - 70px - 250px);
    overflow-y: auto;

    &-item {
      background: #fafafa;
    }
  }

  &-message-input {
    margin-top: auto;
    

    textarea {
      width: 100%;
      resize: none;
      height: 250px;
    }
  }
}
