.content-header {
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid $topicsColor;
  width: 100%;

  &-icon {
    border-top: 5px solid $topicsColor;
    border-left: 5px solid $topicsColor;
    color: $topicsColor;
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &-title {
    padding-top: 5px;
  }
}
