/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

#app {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.app-btn {
  @apply w-full md:w-auto text-center float-left bg-white border-2 border-gray-500 text-lg px-10 h-10 mt-4 leading-3 hover:bg-gray-100 cursor-pointer;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  @apply rounded-lg;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
